<!DOCTYPE html>
<html ng-app="pomodoro">
<head lang="en">
    <meta charset="UTF-8">
    <title>TonyPom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body ng-controller="LandingCtrl as landing">
    <header>
        <div class="title">
            <span class="title-text">Pomodoro</span>
        </div>
        
    </header>
    <nav>
    </nav>
    <main>
        <div class="container">
                <div class="row container-level">
                    <div class="col-xs-5 tasks">
                        <span class="subtitle-text">task history</span>
                        <input type="text" class="form-control" ng-model="landing.description"/>
                        <div class="shim"></div>
                        <button type="button" class="fade-in btn btn-sm" ng-click="landing.addTask()">
                                add task
                        </button>
                        <div class="shim"></div>
                        <div ng-repeat="task in landing.allTasks" class="task-list">
                            <span class="task-desc">{{ task.description }}</span>
                        </div>
 
                    </div>
                    <div class="col-xs-7 timer-container">
                        <div class="row text-center">
                            <h1 class="time">
                                {{landing.timerManager.currentTime | timeConverter | date:'mm:ss'}}
                            </h1>
                            <button type="button" class="fade-in btn btn-lg" ng-show="!landing.timerManager.onBreak" ng-click="landing.startSession()">
                                {{ landing.sessionDisplay }}
                            </button>
                            <button type="button" class="fade-in btn btn-lg" ng-show="landing.timerManager.onBreak" ng-click="landing.startBreak()">
                                {{ landing.breakDisplay }}
                            </button>
                        </div>
                    </div>
                </div> 
        </div>

     <!--     <ui-view></ui-view>   -->
    </main>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDmMGyVMJ2gi7l4zyxrNY9ng4B94Tm7LAA",
        authDomain: "pomodoro-2897e.firebaseapp.com",
        databaseURL: "https://pomodoro-2897e.firebaseio.com",
        storageBucket: "pomodoro-2897e.appspot.com",
      };
      firebase.initializeApp(config);

    </script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/Tasks.js"></script>
    <script src="/scripts/services/TimerManager.js"></script>
    <script src="/scripts/controllers/LandingCtrl.js"></script>
    <script src="/scripts/filters/timeConverter.js"></script>
    
</body>
</html>


